/*  CUSTOM PALETTE  */

$beige: #f8ffe5;
$green: #06d6a0;
$blue: #1b9aaa;
$pink: #ef476f;
$yellow: #ffc43d;

/*  BREAKPOINTS  */

$sm-breakpoint: 640px;
$md-breakpoint: 768px;
$lg-breakpoint: 1024px;
$xl-breakpoint: 1280px;
$xxl-breakpoint: 1536px;
